body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
  font-weight: 100;
}

#container {
  margin: 35px;
}

.course {
  height: 270px;
  width: 150px;
  background-color: #f0f0f0;
  float: left;
  padding: 20px;
  margin: 20px;
  text-align: center;
  color: #333;
}

.course a {
  text-decoration: none;
  font-size: 20px;
}

.small {
  font-size: 9px;
  margin: 3px;
}

.text-box {
  margin: 30px 30px;
  padding-left: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
